[Desktop Entry]
Exec=/home/james/.config/plasma-workspace/env/set_window_manager.sh
Icon=dialog-scripts
Name=set_window_manager.sh
Path=
Type=Application
X-KDE-AutostartScript=true
