#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Marantz (Zone 2)
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hhglkbcbelneogbpcceamhnnjcmcpddj
Icon=chrome-hhglkbcbelneogbpcceamhnnjcmcpddj-Default
StartupWMClass=crx_hhglkbcbelneogbpcceamhnnjcmcpddj
