# Rule for executing commands when external screen is plugged in
KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/james/.Xauthority", RUN+="/home/james/.local/bin/reset_feh-bg.sh"
